@import url(style.css);

/* .navbar { */
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* background-color: #263343; */
    /* background-color: navbar-inverse; */
    /* padding: 8px 12px; */
/* } */
.navbar-expand-md {
    justify-content: space-between;
    background: #000;
     padding: 8px 12px; 
}
.navbar-expand-md a {
    text-decoration: none;
    color: #fff;
}
.navbar-collapse {
    text-decoration: none;
    color: #fff;
}
.active {
    background: rgb(95, 91, 91);
}
.navbar__sub {
    display: flex;
    list-style: none;
    align-items: center;
    padding-left: 0;
}

.navbar__sub li {
    padding: 8px 12px;
}

.navbar__sub li:hover {
    background-color: #d49466;
    border-radius: 4px;
}

.navbar__toggle {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
}


@media screen and (max-width: 768px) {
    /* .navbar-expand-lg {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
 
    .navbar__sub {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar__sub li {
        width: 100%;
        text-align: center;
    } */

} 
