* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color:inherit;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

.symptom-wrap {
    margin-top: 10px;
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    text-align: center;
}

.symptom-wrap #button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 80%;
    border: 0;
    margin: 0 auto;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
