<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/upload.css">
    <script src="/js/home/reply.js" defer></script>
    <script>
      function eraseText() {
        document.getElementById("content").value = "";
      }
    </script>
    <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="upload-page">
        <div class="form">
          <form class="upload-form">
            <div class = title style="text-align: left;">
              <h4>댓글 달기</h4>
            </div>
            <div class = content>
              <textarea name="content" id="content" placeholder="이렇게 해보세요"></textarea>
              <input id="clear" type="button" value="Clear" onclick="javascript:eraseText();"> 
            </div>
            <p id="button" class="btn btn-success" type="button">글 올리기</p>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

<!-- Copyright (c) 2021 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->
