<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/symptom.css">
    <script src="/js/home/symptom.js" defer></script>
    <title>대표증상</title>
</head>
<body>
    <div class="container">
        <form class="upload-form">
            <div class="symptom-wrap">        
                <% for(var i=0; i<data.length; i++){ %> 
                    <input type="checkbox" name="checkAuth" value="<%= data[i].code_id %>" id="<%= data[i].code_nm %>"/>
                    <strong><%= data[i].code_nm %></strong><br><br>
                    
                <% } %>     
                <p id="button" onclick="search_board('<%=data%>');">관심증상 글보기</p>       
            </div>          
        </form>
    </div>  
</body>
</html>